body
{
   background-image: url("../images/fAdmin.jpg");
   background-size: 100%;
}
.divCentrado
{
  border-radius: 35px;
  background-color: rgb(255,255,255,0.9);
  position: absolute;
		/*nos posicionamos en el centro del navegador*/
		top:50%;
		left:50%;
		/*determinamos una anchura*/
		width:60%;
		/*indicamos que el margen izquierdo, es la mitad de la anchura*/
		margin-left:-30%;
		/*determinamos una altura*/
		height:50%;
		/*indicamos que el margen superior, es la mitad de la altura*/
		margin-top:-15%;
		border:1px solid #808080;
		padding:5px;

}
