<!DOCTYPE html>
<html lang="en">
<head>
	<title>Awake</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../assetsLogin/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../assetsLogin/css/util.css">
	<link rel="stylesheet" type="text/css" href="../assetsLogin/css/main.css">
<!--===============================================================================================-->
</head>
<body  style="background-image: url('../assets/img/fondos/login.JPG');">

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-85 p-b-20">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-70">
						¡Registrate!
					</span>

					<div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate = "Ingresa el nombre">
						<input class="input100" type="text" name="nombre">
						<span class="focus-input100" data-placeholder="Ingrese su nombre completo"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-50" data-validate="Ingresa la contraseña">
						<input class="input100" type="password" name="pass">
						<span class="focus-input100" data-placeholder="Contraseña"></span>
					</div>

					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Ingresar
						</button>
					</div>

					<ul class="login-more p-t-190">
						<li class="m-b-8">
							<span class="txt1">
								¿Se te olvido el usuario o la contraseña?
							</span>
							<a href="#" class="txt2">
								Recuperala
							</a>

						</li>

						<li>
							<span class="txt1">
								¿No tienes una cuenta?
							</span>

							<a href="#" class="txt2">
								Registrate
							</a>
						</li>
					</ul>
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="../assetsLogin/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="../assetsLogin/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
	<script src="../assetsLogin/vendor/bootstrap/js/popper.js"></script>
	<script src="../assetsLogin/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../assetsLogin/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../assetsLogin/vendor/daterangepicker/moment.min.js"></script>
	<script src="../assetsLogin/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
	<script src="../assetsLogin/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
	<script src="../assetsLogin/js/main.js"></script>

</body>
</html>
